@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  font-family: Arial;
  font-size: 16px;
  }
  body {
    padding-top: 0;
  }
  img{
    position: relative;
    margin: auto;
    margin-top: auto;
    display: block;
  }
  .grid-posizione{
    
  }
  /*===========Navbar=============*/
  nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background: none;
  }
  .navbar{
    background-color: black;
  }
  nav .stile{
    position: relative;
    max-width: 60%;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stile .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .stile .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: #f2f2f2;
    text-decoration: none; /*per togliere la linea di link*/
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
  }
  .nav-links li a:hover{
    background: #3A3B3C;
  }
  .nav-links li button{
    color: #080808;
    text-decoration: none; /*per togliere la linea di link*/
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
  }
  .nav-links li button:hover{
    background: #3A3B3C;
  }
/*===========Login=============*/
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-header {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.login-form-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form-submit {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form-submit:hover {
  background-color: #444;
}
/*===========Content=============*/
.content{
  position: absolute;
  align-items: center;
  margin-left:28%;
  margin-top: 8%;
}
.img-1 {
  max-width: 100%;
  width: 90rem;
  margin-top: 0;
  display: block;
  margin: 0 auto;
}
table {
  margin-top: 50%;
  border-collapse: collapse;
  width: 40rem;
  margin-left: 25%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

/*===========Sidebar=============*/
.sidebar {
  position: fixed;
  width: 25%;
  height: 100%;
  margin-top: auto;
  background: #0f7acb;
  font-size: 0.65em;
  padding: 1rem;
  left: 0;
}
.side-nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.side-nav ul {
  list-style: none;
  background-color: none;
  
  li {
    position: relative;
    margin: 3.2rem 9rem;
    border-bottom: 1px solid #ccc;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      display: block;
    }
    
    a:hover {
      color: white;
    }
  }
}
/*===========Footer=============*/
.site-footer {
  background-color: gray; 
  padding: 20px; 
  text-align: center;
  clear: both; 
  position:fixed;
  bottom: 0; 
  width: 75%;
} 
.content {
  margin-bottom: 50px; 
}