*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.navbar h1 {
    margin-bottom: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar ul li a:hover {
    text-decoration: underline;
}
/*===========Login=============*/
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-header {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .login-form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form-submit {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form-submit:hover {
    background-color: #444;
  }
/*===========Content=============*/
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    flex: 1; 
    background-color: #fff;
}

/*===========Sidebar=============*/
.sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/*================ Main content================= */
.content {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
}

.content h2 {
    margin-bottom: 1rem;
}

.content p {
    line-height: 1.8;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .card {
    width: calc(50% - 10px); /*posiziona al 50% e toglie 10px rispetto al 50*/
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /*ease è un attributo specifico al transform e fa in modo che l'oggetto abbia una transizione più veloce e naturale*/
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-image img {
    width: 95%;
    height: auto;
  }

   .card-image .img-donna  {
    width: 50%; /* Applicato solo alle immagini dentro .img-donna */
  }
  .card-image .img-bermuda  {
    width: 75%; /* Applicato solo alle immagini dentro .img-bermuda */
  }
  .card-content {
    padding: 16px;
  }
  
  .product-name {
    font-size: 1.5em;
    margin: 0 0 10px;
  }
  
  .product-description {
    font-size: 0.9rem;
    color: #555;
  }
  
  .price-section {
    margin: 10px 0;
  }
  
  .price {
    font-size: 1.2em;
    color: #333;
  }
  
  .discount-price {
    font-size: 1em;
    color: #d9534f;
    text-decoration: line-through;
    margin-left: 10px;
  }
  
  .add-to-cart-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #218838;
  }
  
  @media screen and (max-width: 768px) { /*Provato il responsive*/
    .card {
      width: 100%; 
    }
  }
  
/*===========Footer=============*/
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}