/* Navbar dropdown effetto al passaggio del mouse */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


/* Hero section */
.hero {
    position: relative;
    height: 100vh; /* Imposta l'altezza al 100% della finestra */
    color: white;
    background-image: url('../immagini/background.jpeg');
    background-size: cover; /* Copre tutta l'area disponibile */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Non ripete l'immagine */
    background-attachment: fixed; /* Crea un effetto parallax */
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


/* Stile per le card dei prodotti */

.card:hover {
    transform: scale(1.05);
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Tutte le card avranno la stessa altezza */
    transition: transform 0.2s ease-in-out;
}

.card-img-top {
    width: 100%;
    height: 200px; /* Mantieni un'altezza fissa */
    object-fit: contain; /* L'immagine si ridimensiona senza essere tagliata */
    background-color: #f8f9fa; /* Aggiunge uno sfondo neutro per immagini trasparenti */
    padding: 10px; /* Opzionale: aggiunge spazio intorno all'immagine */
}


.card-body {
    flex-grow: 1; /* Il contenuto della card si espande in modo uniforme */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuisce gli elementi */
}

footer {
    background-color: #222;
    padding: 20px 0;
}

footer h5 {
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    footer {
        text-align: center;
    }
}


